# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'rubo-format'
      'submenu': [
        {
          'label': 'Format'
          'command': 'rubo-format:format'
        }
      ]
    ]
  }
]
